<h1 class="animated fadeIn">Books</h1>
<hr>

<div class="row animated fadeIn addbutton">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/addBook']"
            class="btn btn-outline-primary"
            type="button" name="button">
      Manage Books
    </button>
  </div>
  <div class="col-md-12 text-right">
    <a class="btn" (click)="listView()">
      <i class="icon-list-ol"></i>
    </a>
    <a class="btn" (click)="columsView()">
      <i class="icon-columns"></i>
    </a>
    <a class="btn" (click)="codeView()">
      <i class="icon-code"></i>
    </a>
    <div class="custom-control custom-checkbox">
        <input  [(ngModel)]="complete"
                name="complete"
                type="checkbox" 
                class="custom-control-input" 
                id="customCheck1"
                required>
        <label class="custom-control-label" for="customCheck1">See All Info</label>
      </div>
  </div>


</div>

<table class="table table-sm table-dark animated fadeIn" *ngIf="column">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Book Title</th>
      <th scope="col" *ngIf="complete">Editorial</th>
      <th scope="col">Year</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    <tr class="animated fadeIn"
        *ngFor="let book of books | async" >
      <th scope="row"></th>
      <td>{{ book.title | capitalizado }}</td>
      <td *ngIf="complete">{{ book.editorial | capitalizado }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.author | autores }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm table-dark animated fadeIn" *ngIf="list">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Information</th>
    </tr>
  </thead>
  <tbody>
    <tr class="animated fadeIn"
        *ngFor="let book of books | async" >
      <th scope="row"></th>
      <td>Book Title: {{ book.title | capitalizado }}, 
          Editorial: {{ book.editorial | capitalizado }}, 
          Year: {{ book.year }}, Authors: {{ book.author | autores }}
      </td>
    </tr>
  </tbody>
</table>

<ul class="list-group" *ngIf="code">
  <li 
    *ngFor="let book of books | async" 
    class="list-group-item">
      <pre>{{ book | json }}</pre>
  </li>
</ul>