<h1 class="animated fadeIn">Out Team</h1>
<hr>

<div class="row animated fadeIn addbutton">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/addAuthor']"
            class="btn btn-outline-primary"
            type="button" name="button">
      Manage Authors
    </button>
  </div>
</div>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th scope="col">Name</th>
            <th scope="col">Membership</th>
            <th scope="col">Email</th>
            <th scope="col">Available</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let author of authors | async" >
            <th scope="row"></th>
            <td>{{ author.name | capitalizado }}</td>
            <td>{{ author.membership | capitalizado }}</td>
            <td>{{ author.email }}</td>
            <td><i class="icon-ok" *ngIf="author.availability"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


