<h3>Sistemic Publications Database</h3>
<hr>

<div class="row">
    <ul>
        <div class="form-control-sm">
            <div class="col-md-8">
                <select class="form-control-sm" [(ngModel)]="docSelected">
                    <option disabled>Document Type</option>
                    <option *ngFor="let document of documents"
                            [value]="document.type"> {{ document.doc }} </option>
                </select>
            </div>
        </div>
    </ul>
    <ul>
        <input  class="form-control-sm" 
                type="text" placeholder="Title"
                [(ngModel)]="searchTitle" name="searchTitle">
    </ul>
    <ul>
        <input  class="form-control-sm has-success" 
                type="text" placeholder="Year | Year-Year" 
                [(ngModel)]="searchYear" name="searchYear">
    </ul>
    <ul>
        <input  class="form-control-sm" 
                type="text" placeholder="Author" 
                [(ngModel)]="searchAuthor" name="searchAuthor">
    </ul>
    <ul>           
        <a  *ngIf="logged == false"
            [routerLink]="['/login']"
            class="btn btn-success" 
            role="button" 
            aria-disabled="true">
            Admin Login
        </a>
        <button *ngIf="logged == true"
                (click)="logout()"
                class="btn btn-danger"
                type="button">
                Admin logout
        </button>
    </ul>
    <ul>
        <div class="text-right">
            <div class="col-md-12 text-right">
                <a class="btn" (click)="listView()">
                    <i class="icon-list-ol"></i>
                </a>
                <a class="btn" (click)="columsView()">
                    <i class="icon-columns"></i>
                </a>
                <a class="btn" (click)="codeView()">
                    <i class="icon-code"></i>
                </a>
                <div class="custom-control custom-checkbox">
                    <input  [(ngModel)]="complete"
                            name="complete"
                            type="checkbox" 
                            class="custom-control-input" 
                            id="customCheck1"
                            required>
                    <label class="custom-control-label" for="customCheck1">See All Info</label>
                </div>
            </div>
        </div>
    </ul>
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'book')">
    <h4>Books</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addBook']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Books
    </button>
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th scope="col">Book Title</th>
            <th scope="col" *ngIf="complete">Editorial</th>
            <th scope="col">Year</th>
            <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let book of (Books | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ book.title | capitalizado }}</td>
            <td *ngIf="complete">{{ book.editorial | capitalizado }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let book of (Books | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index" >
            <th>{{ i + 1 }}</th>
            <td>
                {{ book.author | autores }}:<br/>
                <strong>{{ book.title | capitalizado }}.</strong>
                <span *ngIf="complete"> {{ book.editorial | capitalizado }}. </span>
                ({{ book.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let book of (Books | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ book | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'chapter')">
    <h4>Books Chapters</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addChapter']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Book Chapters
    </button>
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Book Title</th>
            <th>Chapter Title</th>
            <th *ngIf="complete">Editorial</th>
            <th *ngIf="complete">Pages</th>
            <th>Year</th>
            <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let chapter of (Chapters | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ chapter.title | capitalizado }}</td>
            <td>{{ chapter.book | capitalizado }}</td>
            <td *ngIf="complete">{{ chapter.editorial | capitalizado }}</td>
            <td *ngIf="complete">{{ chapter.pages }}</td>
            <td>{{ chapter.year }}</td>
            <td>{{ chapter.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th scope="col">Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let chapter of (Chapters | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
                {{ chapter.author | autores }}:<br/>
                <strong>{{ chapter.title | capitalizado }}.</strong>
                {{ chapter.book | capitalizado }}, {{ chapter.editorial | capitalizado }},
                <span *ngIf="complete"> {{ chapter.pages }}.</span>
                ({{ chapter.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let chapter of (Chapters | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ chapter | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'journal')">
    <h4>Journal Articles</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addJournal']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Journals
    </button>

    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Journal</th>
            <th>Number</th>
            <th>Volume</th>
            <th *ngIf="complete">Pages</th>
            <th *ngIf="complete">URL</th>
            <th *ngIf="complete">Colciencias Category</th>
            <th *ngIf="complete">SJR Category</th>
            <th>Year</th>
            <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let journal of (Journals | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ journal.title | capitalizado }}</td>
            <td>{{ journal.journal | capitalizado }}</td>
            <td>{{ journal.number }}</td>
            <td>{{ journal.volume }}</td>
            <td *ngIf="complete">{{ journal.pages  }}</td>
            <td *ngIf="complete">{{ journal.url }}</td>
            <td *ngIf="complete">{{ journal.colCat }}</td>
            <td *ngIf="complete">{{ journal.sjrCat }}</td>
            <td>{{ journal.year }}</td>
            <td>{{ journal.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let journal of (Journals | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index" >
            <th>{{ i + 1 }}</th>
            <td>
                {{ journal.author | autores }}:<br/>
                <strong>{{ journal.title | capitalizado }}.</strong>
                {{ journal.journal | capitalizado }}, {{ journal.number }},
                <span *ngIf="complete"> {{ journal.volume }}, {{ journal.pages }}, 
                {{ journal.url }}, {{ journal.colCat }}, {{ journal.sjrCat }}.</span>
                ({{ journal.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let journal of (Journals | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ journal | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'conference')">
    <h4>Conference Articles</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addConference']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Conferences
    </button>
    
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Conference</th>
            <th *ngIf="complete">Pages</th>
            <th *ngIf="complete">URL</th>
            <th *ngIf="complete">Ambit</th>
            <th>Year</th>
            <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let conference of (Conferences | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ conference.title | capitalizado }}</td>
            <td>{{ conference.conference | capitalizado }}</td>
            <td *ngIf="complete">{{ conference.pages  }}</td>
            <td *ngIf="complete">{{ conference.url }}</td>
            <td *ngIf="complete">{{ conference.ambit }}</td>
            <td>{{ conference.year }}</td>
            <td>{{ conference.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let conference of (Conferences | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
                {{ conference.author | autores }}:<br/>
                <strong>{{ conference.title | capitalizado }}.</strong>
                <span *ngIf="complete"> {{ conference.conference | capitalizado }}, {{ conference.pages }}, {{ conference.url }}, {{ conference.ambit }}.</span>
                ({{ conference.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let conference of (Conferences | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ conference | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'thesis')">
    <h4>Thesis</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addThesis']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Thesis
    </button>
    
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Student</th>
            <th>Type</th>
            <th *ngIf="complete">University</th>
            <th>Year</th>
            <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let tesis of (Thesis | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ tesis.title | capitalizado }}</td>
            <td>{{ tesis.student | capitalizado }}</td>
            <td>{{ tesis.type | capitalizado  }}</td>
            <td *ngIf="complete">{{ tesis.university }}</td>
            <td>{{ tesis.year }}</td>
            <td>{{ tesis.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th scope="col">Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let tesis of (Thesis | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
                {{ tesis.author | autores }}:<br/>
                <strong>{{ tesis.title | capitalizado }}. </strong> {{ tesis.student | capitalizado }}, 
                <span *ngIf="complete"> {{ tesis.type }}, {{ tesis.university | capitalizado }}. </span>
                ({{ tesis.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let tesis of (Thesis | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ tesis | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'software')">
    <h4>Software</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addSoftware']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Software
    </button>
    
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Name</th>
            <th *ngIf="complete">Availability</th>
            <th *ngIf="complete">Institution</th>
            <th>Year</th>
            <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let soft of (Software | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ soft.title | capitalizado }}</td>
            <td>{{ soft.name }}</td>
            <td *ngIf="complete">{{ soft.availability }}</td>
            <td *ngIf="complete">{{ soft.institution }}</td>
            <td>{{ soft.year }}</td>
            <td>{{ soft.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let soft of (Software | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                {{ soft.author | autores }}:<br/>
                <strong>{{ soft.title | capitalizado }}.</strong>
                <span *ngIf="complete">{{ soft.name }}, {{ soft.availability }}, {{ soft.institution }}. </span>
                ({{ soft.year }})
            </td>
            </tr>
        </tbody>
    </table>
      
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let soft of (Software | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ soft | json }}</pre>
        </li>
    </ul>    
</div>

<div *ngIf="(docSelected === 'any') || (docSelected === 'prototype')">
    <h4>Prototypes</h4>
    <hr>
    <button *ngIf="logged == true"
            [routerLink]="['/addPrototype']"
            class="btn btn-outline-primary addbutton"
            type="button" name="button">
            Edit Prototypes
    </button>
    
    <table class="table table-sm table-dark animated fadeIn" *ngIf="column">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th *ngIf="complete">Availability</th>
            <th *ngIf="complete">Institution</th>
            <th>Year</th>
            <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let prototype of (Prototypes | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ prototype.title | capitalizado }}</td>
            <td *ngIf="complete">{{ prototype.availability }}</td>
            <td *ngIf="complete">{{ prototype.institution }}</td>
            <td>{{ prototype.year }}</td>
            <td>{{ prototype.author | autores }}</td>
            </tr>
        </tbody>
    </table>
        
    <table class="table table-sm table-dark animated fadeIn" *ngIf="list">
        <thead>
            <tr>
            <th>#</th>
            <th scope="col">Information</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn"
                *ngFor="let prototype of (Prototypes | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle) ; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
                {{ prototype.author | autores }}:<br/>
                <strong>{{ prototype.title | capitalizado }}.</strong>
                <span *ngIf="complete"> {{ prototype.availability }}, {{ prototype.institution }}.</span> ({{ prototype.year }})
            </td>
            </tr>
        </tbody>
    </table>
        
    <ul class="list-group" *ngIf="code">
        <li 
            *ngFor="let prototype of (Prototypes | searchByAuthor: searchAuthor | searchByYear: searchYear | searchByTitle: searchTitle)" 
            class="list-group-item">
            <pre>{{ prototype | json }}</pre>
        </li>
    </ul>    
</div>