<h1 class="animated fadeIn">Books Chapters</h1>
<hr>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Book Title</th>
      <th scope="col">Chapter Title</th>
      <th scope="col">Editorial</th>
      <th scope="col">Pages</th>
      <th scope="col">Year</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chapter of chapters | async" >
      <th scope="row"></th>
      <td>{{ chapter.bookTitle | capitalizado }}</td>
      <td>{{ chapter.title | capitalizado }}</td>
      <td>{{ chapter.editorial | capitalizado }}</td>
      <td>{{ chapter.pages }}</td>
      <td>{{ chapter.year }}</td>
      <td>{{ chapter.author | autores}}</td>
    </tr>
  </tbody>
</table>
