<h1 class="animated fadeIn">Conference Articles</h1>
<hr>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th scope=col>Title</th>
      <th scope=col>Conference</th>
      <th scope=col>Pages</th>
      <th scope=col>Url</th>
      <th scope=col>Ambit</th>
      <th scope=col>Year</th>
      <th scope=col>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conference of conferences | async" >
      <th scope="row"></th>
      <td>{{ conference.title | capitalizado }}</td>
      <td>{{ conference.conference | capitalizado }}</td>
      <td>{{ conference.pages | capitalizado }}</td>
      <td>{{ conference.url }}</td>
      <td>{{ conference.ambit }}</td>
      <td>{{ conference.year }}</td>
      <td>{{ conference.author | autores}}</td>
    </tr>
  </tbody>
</table>

