<h1 class="animated fadeIn">Software</h1>
<hr>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th scope=col>Title</th>
      <th scope=col>Comercial Name</th>
      <th scope=col>Availability</th>
      <th scope=col>Institution</th>
      <th scope=col>Year</th>
      <th scope=col>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let software of softwares | async" >
      <th scope="row"></th>
      <td>{{ software.title | capitalizado }}</td>
      <td>{{ software.name | capitalizado }}</td>
      <td>{{ software.availability | capitalizado }}</td>
      <td>{{ software.institution | capitalizado }}</td>
      <td>{{ software.year }}</td>
      <td>{{ software.author | autores}}</td>
    </tr>
  </tbody>
</table>



